:root{
    --box-shadow:0 1px 3px rgba(0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
}

*{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    margin:30px auto;
    width:350px;
}
h1{
    letter-spacing: 1px;
    margin:0;
}
h3{
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin:40px 0 10px;
}
h4{
    margin:0;
    text-transform: uppercase;
}
.total{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 20px 0;

}
h2{
    background-color: khaki;
    background-size:auto;
}
.total >div{
    flex:1;
    text-align: center;
}
.money{
    font-size: 2;
    letter-spacing: 1px;
    margin: 5px 0;
}
.money-plus{
    color: royalblue;
}
.money-minus{
    color: red;
}
label{
    
}